<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The node course</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="MarcoSanto">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Value: {{value}}</p>
    {{>header}}
    <img src="/img/cat.jpeg" />
</body>
</html>